* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* SECTION MENU PRINCIPAL */
  
  .gg-menu-principal {
    margin: 0px;
    padding: 10px;
  }

  .gg-position {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .gg-menu-principal a {
    text-decoration: none;
  }

  .gg-menu-principal a:hover {
    text-decoration: underline;
  }

  .gg-icon-apps {
    width: 40px;
    height: 40px;
    padding: 12px;
    margin: 2px 0 0 2px;
    cursor: pointer;
  }

  .gg-icon-apps:hover {
    background-color: #EFF0F0;
    border-radius: 50%;
  }

  .gg-icon-apps img {
    width: 16px;
    height: 16px;
  }

  /* SECTION LOGO GOOGLE */

  .gg-container-logo-google {
    display: flex;
    justify-content: center;
    height: 102px;
  }
  
  .gg-container-logo-google img {
    width: 282px;
    height: 102px;
  }

  /* SECTION PESQUISAR */
  
  .gg-box-central {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
   .gg-barra-pesquisar {
    width: 584px;
    height: 46px;
    background: #fff;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
    box-shadow: none;
  }
  
  .gg-barra-pesquisar:hover{
    border: 1px solid #DFE1E5;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
  }

  .gg-row-icons, .gg-buscar {
    width: 400px;
    height: 44px;
    display: flex;
    align-items: center;
  }
  
   .gg-buscar {
    width: 40px;
    height: 40px;
  }

  .gg-buscar img {
    width: 15px;
    height: 15px;
    margin-left: 20px;
  }
  
   .gg-input {
    width: 450px;
    height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px 8px;
    background-color: transparent;
    border: 0;
    outline: none;
  }
    .gg-all-icons {
    width: 27px;
    height: 37px;
    padding: 0px 5px; 
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

   .gg-icon {
    width: 40px;
    height: 40px;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
  }

  .gg-icon img {
    width: 20px;
    height: 20px;
  }

  /* SECTION BOTÕES PESQUISAR */
  
  .gg-bnts-google {
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px 0px;
  }
  
  .gg-bnts-google a {
    font-size: 14px;
    text-decoration: none;
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
    color: #3C4043;
    padding: 5px 16px;
    border-radius: 4px;
    margin: 11px 4px;
    line-height: 27px;
    cursor: pointer;
  }
  
  .gg-bnts-google a:hover {
    border: 1px solid #DADCE0;
    box-shadow: 0px 1px 0px rgba(129, 129, 129, 0.15);
    border-radius: 3px;
  }
  
  .gg-position-space {
    height: 150px;
  }
  
  .gg-position-space-tow {
    height: 322px;
  }
  
  /* FOOTER */

  .gg-menu-bottom {
    width: 100%;
    height: 96px;
  }

  .gg-bar-one {
    height: 48px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #DADCE0;
    display: flex;
    align-items: center;
    padding: 0px 30px;
  }

  .gg-bar-one p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #70757a;
    margin: 0px;
  }

  .gg-bar-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 0px 20px;
  }

  .gg-bar-group-left, .gg-bar-group-rigth {
    display: flex;
    align-items: center;
  }

  .gg-bar-group-left p, .gg-bar-group-rigth p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #70757a;
    margin: 0px;
    padding: 15px;
    cursor: pointer;
    white-space: nowrap;
  }

  .gg-bar-group-left p:hover, .gg-bar-group-rigth p:hover {
    text-decoration: underline;
  }

  /* RESPONSIVIDADE */

  @media screen and (max-width: 1200px) {

    /* FOOTER */
    .gg-bar-two {
    justify-content: space-evenly;
    }

    .gg-position-space-tow {
      height: 305px;
    }
  }

  @media screen and (max-width: 500px) {

     .gg-barra-pesquisar {
      width: 458px;
      height: 44px;
    }

    .gg-input {
      width: 328px;
      height: 34px;
    }

    .gg-position-space-tow {
      height: 260px;
    }
  }


/*   CLASES UTILITÁRIAS */

.gg-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.gg-text-dark {
  color: rgba(0,0,0,.87);
}

.gg-marg-top-38 {
  margin-top: 38px;
}

.gg-pad-left-15 {
  padding-left: 15px;
}

.gg-pad-right-15 {
  padding-right: 15px;
}

.gg-font-13px {
  font-size: 13px;
}

.gg-font-14px {
  font-size: 14px;
}

.gg-btn {
  display: table;
  border: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.25px;
  transition:  all 0.1s ease-out;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
}

.gg-btn-blue {
  padding: 9px 23px;
  background-color: #1A73E8;
  border: 1px solid transparent;
  color: #fff;
  margin: 0 8px;
}

.gg-btn-blue:hover{
  background-color: #1B66C9;
  box-shadow: 0px 2px 4px rbga(0,0,0,0.25);
  border-radius: 4px;
}