* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  main {
    height: 800px;
    background: #fff;
  }

  /* SECTION MENU PRINCIPAL */
  
  .gg-menu-principal {
    margin: 0px;
    padding: 10px;
  }

  .gg-position {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .gg-menu-principal a {
    font-size: 13px;
    text-decoration: none;
    letter-spacing: 0.25px;
  }

  .gg-menu-principal a:hover {
    text-decoration: underline;
  }

  .gg-icon-apps {
    width: 40px;
    height: 40px;
    padding: 12px;
    margin: 2px 0 0 2px;
  }

  .gg-icon-apps img {
    width: 16px;
    height: 16px;
  }

  /* SECTION LOGO GOOGLE */

  .gg-container-logo-google {
    display: flex;
    justify-content: center;
    height: 102px;
  }
  
  .gg-container-logo-google img {
    width: 282px;
    height: 102px;
  }

  /* SECTION PESQUISAR */
  
  .gg-box-central {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
   .gg-barra-pesquisar {
    width: 584px;
    height: 46px;
    background: #fff;
    border: 1px solid #DFE1E5;
    border-radius: 24px;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   .barra-pesquisar:hover{
    border: 1px solid #DFE1E5;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.15);
    box-sizing: content-box;
  }

  .gg-row-icons {
    width: 600px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
   .gg-buscar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
  }
  
   #input {
    width: 400px;
    height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0px 8px;
    background-color: transparent;
    border: 0;
    outline: none;
  }
  
   .icons {
    display: flex;
  }
  
   .icone {
    width: 27px;
    height: 37px;
    padding: 0px 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botoes-google {
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px 0px;
  }
  
  .botoes-google a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-decoration: none;
    background: #F8F9FA;
    color: #3C4043;
    padding: 10px 15px;
    border-radius: 3px;
    margin: 10px 7px;
  }
  
  .botoes-google a:hover {
    border: 1px solid #DADCE0;
    box-shadow: 0px 1px 0px rgba(129, 129, 129, 0.15);
    border-radius: 3px;
    box-sizing: content-box;
  }
  
  #espaco {
    height: 137px;
  }
  
  #espaco1 {
    height: 360px;
  }
  
  #menu-baixo {
    width: 100%;
    height: 96px;
  }
  .barra1 {
    height: 48px;
    background-color: #F2F2F2;
    border-bottom: 1px solid #DADCE0;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    
  }
  .barra1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #70757a;
    margin: 0px;
  }
  #footer2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 0px 20px;
  }
  .barra2, .barra3 {
    display: flex;
    align-items: center;
  }
  .barra2 p, .barra3 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #70757a;
    margin: 0px;
    padding: 15px;
  }

/*   CLASES UTILITÁRIAS */

.gg-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.gg-text-dark {
  color: rgba(0,0,0,.87);
}

.gg-pad-left-15 {
  padding-left: 15px;
}

.gg-pad-right-15 {
  padding-right: 15px;
}

.gg-btn {
  display: table;
  border: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 0.25px;
  transition:  all 0.1s ease-out;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: 16px;
  cursor: pointer;
  text-decoration: none;
}

.gg-btn-blue {
  padding: 9px 23px;
  background-color: #1A73E8;
  border: 1px solid transparent;
  color: #fff;
  margin: 0 8px;
}

.gg-btn-blue:hover{
  background-color: #1B66C9;
  box-shadow: 0px 2px 4px rbga(0,0,0,0.25);
  border-radius: 4px;
}